<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <%- include('../_partials/head.ejs') %>
</head>
<body>
  <div id="wrapper">
    <%- include('../_partials/navbar.ejs') %>
    <%- include('../_partials/sidebar.ejs') %>
    
    <div id="page-wrapper" >
      <div id="page-inner">
        <div class="row">
          <div class="col-md-12">
            <h2>Dashboard</h2>
          </div>
        </div> 
        <hr />
        <div class="alert alert-info">
          Welcome <b>Muhammad Fadzrin Madu</b>, love to see you back.
        </div>
        <div class="row">
          <div class="col-sm-12 col-lg-4">
            <div class="panel panel-back noti-box">
              <span class="icon-box bg-color-blue set-icon">
                <i class="glyphicon glyphicon-floppy-save"></i>
              </span>
              <div class="text-box">
                <p class="main-text">Rp. 2.750.000,-</p>
                <p class="text-muted">Total Cash In</p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-lg-4">
            <div class="panel panel-back noti-box">
              <span class="icon-box bg-color-red set-icon">
                <i class="glyphicon glyphicon-floppy-open"></i>
              </span>
              <div class="text-box">
                <p class="main-text">Rp. 550.000,-</p>
                <p class="text-muted">Total Cash Out</p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-lg-4">
            <div class="panel panel-back noti-box">
              <span class="icon-box bg-color-green set-icon">
                <i class="fa fa-dollar"></i>
              </span>
              <div class="text-box">
                <p class="main-text">Rp. 2.200.000</p>
                <p class="text-muted">Total Cash</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>    
  
  <%- include('../_partials/scripts.ejs') %>
</body>
</html>
