.navbar-cls-top .navbar-brand,
.navbar-cls-top .navbar-brand:hover {
  background: #009e29 !important;
}

.active-menu {
  background: #101010 !important;
}

.active-menu:hover {
  background: none !important;
}
