<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <%- include('../_partials/head.ejs') %>
</head>
<body>
  <h1>Login Page</h1>
  
  <%- include('../_partials/scripts.ejs') %>
</body>
</html>
