<footer class="page-footer">
  <div class="font-13">Copyright © 2020. All rights reserved. Created By <a href="https://github.com/fadzrinmadu" rel="nonopener" target="_blank">Fadzrin Madu</a></div>
</footer>
