<nav class="navbar-default navbar-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="main-menu">
      <li class="text-center">
        <img src="/img/find_user.png" class="user-image img-responsive"/>
      </li>
      <li>
        <a class="active-menu" href="/admin"><i class="fa fa-dashboard"></i> Dashboard</a>
      </li>
      <li>
        <a href="/admin/cash-in"><i class="glyphicon glyphicon-floppy-save"></i> Cash In</a>
      </li>
      <li>
        <a href="/admin/cash-out"><i class="glyphicon glyphicon-floppy-open"></i> Cash Out</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-book"></i> Reports<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <a href="#">Cash In</a>
          </li>
          <li>
            <a href="#">Cash Out</a>
          </li>
          <li>
            <a href="/admin/report/cash-summary">Cash Summary</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/admin/setting"><i class="fa fa-user"></i> User Settings</a>
      </li>
    </ul>
  </div>
</nav>
